
  <div class="content">
    <% if(locals.species) { %>
      <div class="media-area">
        <div class="media-cover"></div>
        <% if(locals.species.media){ %>
            <% if(locals.species.media.type === "image"){ %>
                <img class="content-media" src="<%=locals.species.media.path%>" alt="<%=locals.species.name%>"/>
            <% } else if(locals.species.media.type === "video"){ %>
                <video autoplay loop muted class="content-media">
                  <source src="<%=locals.species.media.path%>" type="video/mp4" alt="<%=locals.species.name%>"/>
                </video>
            <% } %>
        <% } %>
      </div>
      <div class="title <%=locals.species.theme === "light" ? "light" : "dark"%>"><%= locals.species.name.toUpperCase() %></div>
      <div class="description"><%= locals.species.description %></div>
        <% if(locals.species.diet) { %>
          <div class="facts">
            <div class="habitat fact-item">Habitat
              <video autoplay loop muted class="bubbles">
                <source src="/videos/bubbles.mp4" type="video/mp4" alt="bubbles"/>
              </video>
              <div class="fact-text"><%= locals.species.habitat.join(", ") %>.</div>
            </div>
            <div class="diet fact-item">Diet
              <video autoplay loop muted class="bubbles">
                <source src="/videos/bubbles.mp4" type="video/mp4" alt="bubbles"/>
              </video>
              <div class="fact-text"><%= locals.species.diet %>.</div>
            </div>
            <div class="lifespan fact-item">Lifespan
              <video autoplay loop muted class="bubbles">
                <source src="/videos/bubbles.mp4" type="video/mp4" alt="bubbles"/>
              </video>
              <div class="fact-text"><%= locals.species.lifespan %>.</div>
            </div>
            <div class="size fact-item">Size
              <video autoplay loop muted class="bubbles">
                <source src="/videos/bubbles.mp4" type="video/mp4" alt="bubbles"/>
              </video>
              <div class="fact-text"><%= locals.species.size %>.</div>
            </div>
          </div>
       <% } %>
    <% } else if(locals.category) { %>
      <div class="media-area">
        <div class="media-cover"></div>
        <% if(locals.category.media){ %>
            <% if(locals.category.media.type === "image"){ %>
                <img class="content-media" src="<%=locals.category.media.path%>" alt="<%=locals.category.name%>"/>
            <% } else if(locals.category.media.type === "video"){ %>
                <video autoplay loop muted class="content-media">
                  <source src="<%=locals.category.media.path%>" type="video/mp4" alt="<%=locals.category.name%>"/>
                </video>
            <% } %>
        <% } %>
      </div>
      <div class="title <%=locals.category.theme === "light" ? "light" : "dark"%>"><%= locals.category.name.toUpperCase() %></div>
      <div class="description"><%= locals.category.description %></div>
    <% } %>
  </div>