<%  let leftNav = [] %>
<%  let rightNav = [] %>
<% if(locals.navMenu) { %>
<%  let halfway = (locals.navMenu.length / 2) %>
<%  locals.navMenu.forEach((e, i) => { %>
<%    if(i < halfway) { %>
<%       leftNav.push(e) %>
<%    } else { %>
<%       rightNav.push(e) %>
<% }}) %>
<% } %>
<% let pageTheme %>
<% if(locals.species) { %>
<%   pageTheme = locals.species.theme %>
<%  } else { %>
<%   pageTheme = locals.category.theme %>
<%  } %>

<header class="header <%=pageTheme === "light" ? "header-light" : "header-dark"%>">
  <div class="nav-container">
    <nav class="nav-left nav">
      <% leftNav.forEach(j=> { %>
        <a class="nav-item <%=pageTheme === "light" ? "light" : "dark"%>" href="/<%= j.name.toLowerCase().replace(/ /g, '-') %>"><%=j.name.toUpperCase()%></a>
      <% }) %>
    </nav>
    <a class="logo-container" href="/">
      <img src="/images/logo.svg" alt="Aquarium Logo" class="logo <%=pageTheme === "light" ? "" : "logo-dark" %>" />
    </a>
    <nav class="nav-right nav">
      <% rightNav.forEach(j=> { %>
        <a class="nav-item <%=pageTheme === "light" ? "light" : "dark"%>" href="/<%= j.name.toLowerCase().replace(/ /g, '-') %>"><%=j.name.toUpperCase()%></a>
      <% }) %>
    </nav>
  </div>
</header>